:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --bg-footer: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.list {
  list-style: none;
}

/* HEADER */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.header-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}

.header-contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* HERO */

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-section {
  background-color: var(--bg-footer);
}

/* HERO BUTTON */

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* FEATURES */

.title-features {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.text-features {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* what we do */

.title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* my team */

.teammates {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.teammates-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* footer */

.footer {
  background-color: var(--bg-footer);
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

.web-clr {
  color: var(--accent-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-info {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* PORTFOLIO */

/* btn */
.btn-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: 0;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* list */
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.txt-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
